<p>Paragrafo vindo do home</p>
<p>O nome do usuario é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos</p>
<p>O seu carro é um {{car.name}} de ano {{car.age}}</p>

{{#if auth}}
<p>
    Voçe esta autenticado, <a href="/dashboard">clique aqui</a> para acessar a area de membros
</p>

{{else}}

<p>
    Voçê não esta autenticado!
</p>

{{/if}}

<p>Acessar <a href="/post">Blog Post</a></p>
<p>Acessar o <a href="/blog">Blog</a></p>